rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /boards/{boardId} {
      allow read, write: if true;
      match /links/{linkId} {
        allow read, write: if true;
      }
    }
    match /{document=**} {
      allow read, write: if false;
    }
  }
}
